In [2]:
import sqlite3
import pandas as pd
import csv
import time
import numpy as np

http://tapvizier.u-strasbg.fr/adql/

In [47]:
conn=sqlite3.connect('catalogs.db') 
cur=conn.cursor()

# cur.execute('SELECT * FROM sqlite_master').fetchall()

In [38]:
# -- output format : csv
# SELECT "II/349/ps1".objID, "II/349/ps1".RAJ2000, "II/349/ps1".e_RAJ2000, "II/349/ps1".DEJ2000, "II/349/ps1".e_DEJ2000,  "II/349/ps1".gmag, "II/349/ps1".e_gmag, "II/349/ps1".rmag,
# "II/349/ps1".e_rmag, "II/349/ps1".imag,  "II/349/ps1".e_imag,  "II/349/ps1".zmag, "II/349/ps1".e_zmag, "II/349/ps1".ymag,  "II/349/ps1".e_ymag
# FROM "II/349/ps1"
# WHERE 1=CONTAINS(POINT('ICRS',"II/349/ps1".RAJ2000,"II/349/ps1".DEJ2000), BOX('ICRS', 230.28175944, +68.383984993, 2., 2.))

In [32]:
%%time 

ps_pand=pd.read_csv("ps1_add.csv", sep=',', low_memory=False)
ps_pand.astype(float)

cols_ps = {}

for i in ps_pand.columns:
    cols_ps[i] = 'ps_' + i
    
ps_pand.rename(columns=cols_ps, inplace=True)

ps_pand['ps_objID'].astype(int, copy = False)
ps_df = ps_pand[['ps_objID', 'ps_RA', 'ps_e_RA', 'ps_DE', 'ps_e_DE','ps_gmag', 'ps_e_gmag','ps_rmag', 'ps_e_rmag','ps_imag', 'ps_e_imag','ps_zmag', 'ps_e_zmag','ps_ymag', 'ps_e_ymag']]
ps_df

Wall time: 88.8 ms

,ps_objID,ps_RA,ps_e_RA,ps_DE,ps_e_DE,ps_gmag,ps_e_gmag,ps_rmag,ps_e_rmag,ps_imag,ps_e_imag,ps_zmag,ps_e_zmag,ps_ymag,ps_e_ymag
0,188842326805529751,232.680238,0.0616,67.374100,0.0616,NaN,NaN,21.2865,0.0706,20.9568,0.1162,NaN,NaN,NaN,NaN
1,188842326802979411,232.680251,0.0380,67.374011,0.0579,21.2872,0.0000,21.3597,0.0216,21.0259,0.1080,20.7336,0.1192,19.5234,0.1760
2,188842328803420888,232.880393,0.0637,67.366727,0.0637,NaN,NaN,NaN,NaN,20.4523,0.1710,20.5064,0.2185,NaN,NaN
3,188832328635728012,232.863499,0.0056,67.364296,0.0161,20.8560,0.0487,19.6257,0.0140,18.9778,0.0157,18.6632,0.0109,18.5158,0.0506
4,188842328660069499,232.866132,0.0705,67.373957,0.1025,NaN,NaN,NaN,NaN,21.1044,0.0923,20.9131,0.0796,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70141,191222275808491419,227.580988,0.0511,69.350603,0.0554,21.6467,0.0553,21.0357,0.1111,20.9400,0.1087,20.6712,0.0403,20.1092,0.2674
70142,191222275834358649,227.583945,0.1021,69.356599,0.1765,20.3470,0.0553,19.8145,0.0000,19.5197,0.0037,19.0365,0.0349,18.9323,0.2054
70143,191222275842518626,227.583983,0.0154,69.356597,0.0181,20.4473,0.0197,19.6303,0.0313,19.5894,0.0413,19.0582,0.0742,19.0971,0.0490
70144,191232276737967999,227.673203,0.0813,69.364334,0.0813,NaN,NaN,NaN,NaN,21.5004,0.0742,21.2306,NaN,NaN,NaN
70145,191232276393092975,227.638969,0.0294,69.360154,0.0412,NaN,NaN,21.6196,0.1483,20.8580,0.0580,20.5618,0.0491,20.1420,0.0933

In [48]:
#  -- output format : csv
#  SELECT "V/147/sdss12".objID, "V/147/sdss12".RA_ICRS, "V/147/sdss12".e_RA_ICRS,  "V/147/sdss12".DE_ICRS, "V/147/sdss12".e_DE_ICRS, "V/147/sdss12".umag,  "V/147/sdss12".e_umag,  "V/147/sdss12".gmag,  "V/147/sdss12".e_gmag, 
#  "V/147/sdss12".rmag,  "V/147/sdss12".e_rmag,  "V/147/sdss12".imag,  "V/147/sdss12".e_imag,  "V/147/sdss12".zmag,  "V/147/sdss12".e_zmag

#  FROM "V/147/sdss12"
#  WHERE 1=CONTAINS(POINT('ICRS',"V/147/sdss12".RA_ICRS,"V/147/sdss12".DE_ICRS), BOX('ICRS', 188.19982497, -01.492685592, 2., 2.))

In [50]:
%%time

sdss_pand=pd.read_csv("sdss12_add1.csv", sep=',', low_memory=False)
sdss_pand.astype(float)

cols_sdss = {}

for i in sdss_pand.columns:
    cols_sdss[i] = 'sdss_' + i
    
sdss_pand.rename(columns=cols_sdss, inplace=True)

sdss_pand['sdss_objID'].astype(int, copy = False)

sdss_df = sdss_pand[['sdss_objID', 'sdss_RA', 'sdss_e_RA', 'sdss_DE', 'sdss_e_DE', 'sdss_umag', 'sdss_e_umag', 'sdss_gmag', 'sdss_e_gmag','sdss_rmag', 'sdss_e_rmag','sdss_imag', 'sdss_e_imag','sdss_zmag', 'sdss_e_zmag']]
sdss_df

Wall time: 12 ms

,sdss_objID,sdss_RA,sdss_e_RA,sdss_DE,sdss_e_DE,sdss_umag,sdss_e_umag,sdss_gmag,sdss_e_gmag,sdss_rmag,sdss_e_rmag,sdss_imag,sdss_e_imag,sdss_zmag,sdss_e_zmag
0,1237650371559358846,188.366520,0.127,-1.740345,0.159,22.820,0.384,22.846,0.167,22.879,0.323,22.224,0.291,24.380,0.389
1,1237650371559358635,188.368776,0.022,-1.738318,0.021,24.034,0.962,20.955,0.037,19.690,0.022,18.852,0.017,18.432,0.038
2,1237650371559358750,188.333829,0.132,-1.741977,0.173,23.260,0.688,23.001,0.248,21.979,0.188,21.615,0.223,24.264,0.581
3,1237650371559293467,188.322283,0.148,-1.741122,0.116,23.969,0.870,22.691,0.153,22.699,0.280,22.264,0.316,21.860,0.668
4,1237650371559293765,188.327455,0.128,-1.740349,0.215,23.532,0.701,24.964,0.719,23.090,0.413,21.588,0.184,21.728,0.641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5722,1237650372096033308,187.992293,0.102,-1.242818,0.097,22.759,0.483,22.688,0.200,21.610,0.127,21.288,0.166,21.769,0.872
5723,1237654668678464086,187.992279,0.174,-1.242780,0.139,23.064,0.574,22.982,0.240,22.114,0.179,21.940,0.214,21.521,0.560
5724,1237648702968496561,188.014997,0.109,-1.245401,0.159,22.773,0.449,22.239,0.138,23.410,0.599,24.261,1.128,21.530,0.569
5725,1237648702968496853,187.979918,0.164,-1.243843,0.165,23.647,0.739,23.756,0.412,22.679,0.267,21.697,0.166,22.091,0.675
5726,1237654668678464237,187.979933,0.215,-1.243873,0.220,23.375,0.883,22.292,0.164,23.526,0.755,22.486,0.453,22.837,1.324

In [35]:
ps_df.to_sql(name='ps', con=conn, if_exists='replace', index=False)

In [51]:
sdss_df.to_sql(name='sdss', con=conn, if_exists='replace', index=False)

In [52]:
conn.commit()

In [53]:
conn.close()

Для теста обнаружения транзиентов на двух новых снимках (а именно - ZTF21aayokph_r.fit и aug1815_000036.12-sum.fits) добавим в базу поля SDSS около их центров:

188.19982497, -1.49268559

230.28175944, 68.38398499

соответственно

для второго центра записей в sdss не оказалось, для него загрузили PanSTARRS

In [45]:
from astropy.coordinates import SkyCoord
from astropy import units as u


field_center = SkyCoord(188.19982497*u.deg, -1.49268559*u.deg)
field_center
region_width = 1322.8494*u.arcsec
region_height = 1322.8494*u.arcsec

In [46]:

con2 = sqlite3.connect('catalogs.db')
cat_name='sdss'

df2 = pd.read_sql_query("SELECT * FROM {} WHERE ({} BETWEEN ? AND ?) AND ({} BETWEEN ? AND ?)".format(cat_name, cat_name + '_RA',cat_name + '_DE'),
                        con2,
                        params = [field_center.ra.value - region_width.value/7200 - 30/3600,
                                  field_center.ra.value + region_width.value/7200 + 30/3600,
                                  field_center.dec.value - region_height.value/7200 - 30/3600,
                                  field_center.dec.value + region_height.value/7200 + 30/3600])

df2

,sdss_objID,sdss_RA,sdss_e_RA,sdss_DE,sdss_e_DE,sdss_umag,sdss_e_umag,sdss_gmag,sdss_e_gmag,sdss_rmag,sdss_e_rmag,sdss_imag,sdss_e_imag,sdss_zmag,sdss_e_zmag
0,1237650371559293359,188.275631,0.025,-1.658721,0.023,23.141,0.504,21.282,0.046,20.071,0.028,19.665,0.032,19.379,0.084
1,1237650371559293346,188.267555,0.081,-1.658785,0.126,24.197,1.267,22.157,0.124,21.294,0.105,21.256,0.170,21.438,0.672
2,1237650371559293345,188.268322,0.093,-1.657710,0.102,22.812,0.390,22.860,0.178,21.623,0.110,21.432,0.153,20.731,0.286
3,1237650371559293349,188.271549,0.064,-1.658379,0.062,23.037,0.484,21.605,0.063,21.111,0.072,20.970,0.104,20.653,0.277
4,1237650371559293350,188.272689,0.136,-1.656812,0.162,24.689,1.088,24.699,0.680,22.023,0.163,20.833,0.094,20.762,0.307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,1237650372096164029,188.254442,0.127,-1.335785,0.126,24.013,1.009,23.588,0.327,22.050,0.161,21.471,0.166,22.473,1.027
2487,1237650372096164575,188.253138,0.168,-1.333287,0.179,25.638,1.000,24.771,0.845,23.081,0.492,21.496,0.210,20.595,0.345
2488,1237650372096163960,188.258962,0.006,-1.330797,0.005,19.618,0.033,18.552,0.007,18.084,0.007,17.906,0.009,17.868,0.025
2489,1237650372096164229,188.258349,0.052,-1.327597,0.050,25.489,0.836,22.644,0.140,21.051,0.064,20.349,0.059,20.190,0.184
2490,1237650372096164262,188.270910,0.080,-1.328597,0.072,22.692,0.372,21.961,0.078,21.573,0.101,21.314,0.138,21.651,0.622